.Eddoclogin-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.Eddoclogin-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.Eddoclogin-video {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
   
}

.Eddoclogin-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.Eddoclogin-form {
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.Eddoclogin-form h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.Eddoclogin-form p {
    color: #8c8c8c;
    margin-bottom: 2rem;
}

.Eddoclogin-input-group {
    margin-bottom: 1.5rem;
}

.Eddoclogin-input-group input {
    width: 100%;
    padding: 0.45rem 1rem;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    font-size: 1rem;
}

.Eddoclogin-button {
    width: 100%;
    padding: 0.45rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #00c853;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Eddoclogin-button:hover {
    background-color: #00a746;
}

/* Responsive Design */
@media (max-width: 768px) {
    .Eddoclogin-container {
        flex-direction: column;
        height: unset !important;
    }

    .Eddoclogin-right {
        width: 100%;

    }

    .Eddoclogin-video,
    .Eddoclogin-input-group input,
    .Eddoclogin-button {
        width: 70%;
    }
}

@media (max-width:425px) {
    .Eddoclogin-form h1{
        font-size: 1.5rem;
    }
    
}